:root {
    --primary-color: #00556e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.Main-title{
    padding: 1rem;
    text-align: center;
}

.hints {
    text-align: center;
    padding: 1.4rem 0;
    background-color: #0091B8;
    font-weight: 600;
}

mark {
    padding: .2rem .7rem;
    border-radius: 4rem;
    background-color: #fc5d23;
}

.timeline-wrapper::-webkit-scrollbar{
    display: none;
}

.timeline-wrapper {
    position: relative;
    max-width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.timeline {
    height: .12rem;
    padding: 0 4rem;
    background-color: #888;
    list-style-type: none;
    --scale: 1;
    display: flex;
    position: absolute;
}

.timeline li {
    position: relative;
    width: 20rem;
}

.timeline li::before,
.timeline li::after,
.timeline li.title,
.data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
}

.timeline li::before {
    content: "";
    top: 1rem;

    display: inline-block;
    width: 0.12rem;
    height: 1rem;
    background-color: #888;
}

.timeline li:nth-child(even)::before {
    top: -1rem;
}

.timeline li:hover::before{
    height: 1.5rem;
    background-color: #e5313e;

}

.timeline li::after {
    content: attr(data-date);
    top: -3.4rem;
}

.timeline li:nth-child(odd):after {
    top: 3.4rem;
}

.timeline li:hover:after,
.timeline li .title {
    color: #00556e;
}

.timeline li .title {
    top: 2.4rem;
    font: 600 1.1rem 'Lato', sans-serif;
    white-space: pre;
    opacity: 0;
}

.timeline li:nth-child(even) >.title{
    top: 1.4rem;
} 

.timeline li:nth-child(odd) >.title{
    top: -1.4rem;
} 

.timeline li:hover .title {
    display: block;
    margin-top: 1.5rem;
    opacity: 1;
}

.data {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #888;
    color: #fff;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    transition: .3s ease;

}

.timeline li:hover .data{
    background-color: #00556e;
    --scale: 1;
    cursor: pointer;
    z-index: 200;

}

.data.show{
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    background-image: linear-gradient(45deg, #0091B8, #379db8);
    box-shadow: 0 .1rem .4rem #0004;
    z-index: 100;
}

.data h3,
.data small{
    text-transform: capitalize;
    margin-left: 0.7rem;
}

.data p{
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    margin-left: 0.7rem;
}

.data.show p{
    margin-left: 0;
}

.data .close{
    align-self: flex-start ;
    background-color: #fc5d23;
    padding: .5rem .8rem;
    border-radius: 2rem;
    font-size: 1rem;
}

.data a{
    color: #fff;
    margin-left: 0.7rem;
}